<div class="ngcms-signup">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      formControlName="email"
      id="email"
      placeholder="Email"
    />
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="Password"
    />
    <input
      type="password"
      formControlName="confirmPassword"
      id="confirmPassword"
      placeholder="Confirm password"
    />
    @if (signUpForm.errors?.['mismatch'] && signUpForm.get('confirmPassword')?.touched) {
    <p>Passwords don't match</p>
    }
    <button type="submit">Signup</button>
  </form>
</div>
