.solias-navbar {
  min-height: 3.5rem;
  &__logo {
    img {
      height: 2rem;
      width: auto;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--solias-background);
    transition: 0.1s ease-in all;
    &:hover {
      background-color: var(--solias-nav-hover);
    }
    .material-icons {
      color: var(--solias-nav-txt);
      font-size: 1.25rem;
      background-color: transparent;
    }
  }
}
