@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/@solias/solias-components/styles/styles.scss";
@import "../node_modules/@solias/solias-components/styles/themes/default_theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
